@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #5CDB95;
}

.header h1{
  text-align: center;
  color: #EDF5E1;
  font-size: 10vh;
  font-family: 'Syncopate', sans-serif;
}

.watchList h2{
  text-align: center;
  color: #EDF5E1;
  font-size: 7vh;
  font-family: 'Syncopate', sans-serif;
}

.navBar {
width: 95vw;
text-decoration: none;

  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5CDB95;
  display: flex;
  justify-content: center;
  text-decoration: none;
  }
  li{
   
    text-decoration: none;
  }
  li button{
    background-color: #5CDB95;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    font-size: 4vh;
    font-family: 'Syncopate', sans-serif;
  }
  li button:hover{
    background-color: #05386B;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}




.movie_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}



.movie_tile {
  padding: 20px;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;

h3{
  text-align: center;
  color: #EDF5E1;
  font-size: 2vh;
  font-family: 'Syncopate', sans-serif;
  word-wrap: break-word;
  
}

  img {
    height: 250px;
    width: auto;
    border-radius: 45%;
  
  }

  button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #EDF5E1;
    background-color: #05386B;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #379683;
  }
  button:hover {
    background-color: #EDF5E1;
    color: #05386B
  }
}

