body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.movie_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.movie_tile img {
  height: 250px;
  width: auto;
  border-radius: 45%;

}

.movie_tile {
  padding: 20px;
  text-align: center;
}

